- id: '1576569084692'
  alias: Notify when transmission off
  description: ''
  trigger:
  - entity_id: switch.transmission
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      data:
        actions:
        - action: restart_transmission
          title: Restart docker transmission
      message: Le container Transmission s'est arrété
      title: Transmission
    service: notify.mobile_app_sm_g950f
- id: '1576570247913'
  alias: Turn on Transmission during the night
  description: ''
  trigger:
  - at: 03:00
    platform: time
  condition:
  - condition: state
    entity_id: switch.transmission
    state: 'off'
  action:
  - entity_id: switch.transmission
    service: switch.turn_on
- id: '1576615549596'
  alias: Run Kodi
  description: ''
  trigger:
  - entity_id: media_player.sony_tv
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      command: am start -a android.intent.action.VIEW -d -n org.xbmc.kodi/.Splash
      entity_id: media_player.sony_tv
    service: androidtv.adb_command
- id: '1576834766610'
  alias: Notify when someone see
  description: ''
  trigger:
  - event_data: {}
    event_type: netatmo_person
    platform: event
  condition: []
  action:
  - data_template:
      data:
        photo:
          url: '{{ trigger.event.data.face_url }}'
      message: '{{ trigger.event.data.name }} a été vu'
    service: notify.mobile_app_sm_g950f
- id: '1576843334460'
  alias: turn on bureau light when door is open
  description: ''
  trigger:
  - device_id: ecfac87f20dc496a93a56f4c16b1ea52
    domain: binary_sensor
    entity_id: binary_sensor.contactlivingroomdoor_contact
    platform: device
    type: opened
  condition: []
  action:
  - data:
      entity_id: light.bureau_leds
      flash: short
      rgb_color:
      - 0
      - 0
      - 255
    service: light.turn_on
- id: '1577874750123'
  alias: dimuner lumiere quand on tourne le cube
  description: ''
  trigger:
  - entity_id: sensor.xiaocube_action
    platform: state
    to: rotate_left
  condition: []
  action:
  - data_template:
      brightness: '{{states.light.bureau.attributes.brightness|int - 10}}'
    entity_id: light.bureau
    service: light.turn_on
- id: '1577875129324'
  alias: augmenter la lumiere quand on tourne le cube
  description: ''
  trigger:
  - entity_id: sensor.xiaocube_action
    platform: state
    to: rotate_right
  condition: []
  action:
  - data_template:
      brightness: '{{states.light.bureau.attributes.brightness|int + 10}}'
    entity_id: light.bureau
    service: light.turn_on
- id: '1577888220396'
  alias: toogle bureau with remote
  description: ''
  trigger:
  - entity_id: sensor.hue_dimmer_switch_action
    platform: state
    to: on-press
  condition: []
  action:
  - entity_id: light.hue_white_lamp_1_light
    service: light.toggle
- id: '1577888282401'
  alias: toogle led strip bureau
  description: ''
  trigger:
  - entity_id: sensor.hue_dimmer_switch_action
    platform: state
    to: off-press
  condition: []
  action:
  - entity_id: light.bureau_leds
    service: light.toggle
- id: '1581586802415'
  alias: Restart docker transmission when notification tapped
  description: ''
  trigger:
  - event_data:
      action: restart_transmission
    event_type: mobile_app_notification_action
    platform: event
  condition: []
  action:
  - entity_id: switch.transmission
    service: switch.turn_on
- id: '1581599393984'
  alias: Notify if disk usage below 80 percent
  description: ''
  trigger:
  - above: '80'
    entity_id: sensor.disk_use_percent_config
    platform: numeric_state
  condition: []
  action:
  - data:
      message: Utilisation du disque à 80%
    service: notify.mobile_app_sm_g950f
- id: '1581604798904'
  alias: Flash entrance
  description: ''
  trigger:
  - entity_id: binary_sensor.door_motion_meta
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - condition: state
    entity_id: input_boolean.poubelle_boulean
    state: 'on'
  action:
  - data:
      entity_id: light.entree
      flash: short
    service: light.turn_on
- id: '1581626744205'
  alias: Run valentines day
  description: ''
  trigger:
  - entity_id: binary_sensor.door_motion_meta
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - after: 09:00
    before: '23:50'
    condition: time
  action:
  - data:
      source: Marshall_salon
    entity_id: media_player.spotify_pierre_piquette
    service: media_player.select_source
  - data:
      message: Elle est rentré!
      title: Lancement de la surprise!
    service: notify.mobile_app_sm_g950f
  - data: {}
    entity_id: script.1581625570875
    service: script.turn_on
  - entity_id: automation.run_valentines_day
    service: automation.turn_off
  - entity_id: media_player.pioneer_avr
    service: media_player.turn_on
  - data:
      media_content_id: https://www.youtube.com/watch?v=L_LUpnjgPso&t=168s
      media_content_type: video
    entity_id: media_player.salon_2
    service: media_extractor.play_media
  - data:
      source: VIDEO 1(VIDEO)
    entity_id: media_player.pioneer_avr
    service: media_player.select_source
- id: '1581664904569'
  alias: Stop valentine day
  description: ''
  trigger:
  - entity_id: automation.run_valentines_day
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      message: Lancement de la séquence de fin de saint valentin
      title: Fin Saint Valentin
    service: notify.mobile_app_sm_g950f
  - data: {}
    entity_id: script.1581627676101
    service: script.turn_on
  - entity_id: light.salon
    service: light.turn_off
  - entity_id: media_player.spotify_pierre_piquette
    service: media_player.media_stop
  - entity_id: media_player.pioneer_avr
    service: media_player.turn_off
  - entity_id: media_player.salon_2
    service: media_player.turn_off
- id: '1581979681870'
  alias: Turn off all lights when the phone is charging in bedroom
  description: ''
  trigger:
  - platform: template
    value_template: '{% if state_attr(''sensor.battery_level_2'',''is_charging'')
      %} true {%endif%}'
  condition:
  - after: '22:30:00'
    before: 05:00:00
    condition: time
  action:
  - entity_id: all
    service: light.turn_off
- id: '1583246294004'
  alias: Notify new corona case
  description: ''
  trigger:
  - entity_id: sensor.france_confirmed
    platform: state
  condition: []
  action:
  - data:
      message: Nouveau cas
    service: notify.mobile_app_sm_g950f
